@if (HomeVM?.Recipes?.Any() == true)
{
    <Table Recipes="@HomeVM.Recipes"/>
}
else
{
    <div class="home-view-recipe-table-no-recipes-warning">
        You haven't generate any recipes yet...
    </div>
}