<div class="displayview">
    @if (HomeVM?.Recipes?.Any() == true)
    {
        <RecipeTable Recipes="@HomeVM.Recipes" />
    }
    else
    {
        <div class="displayview-warning">
            You haven't generate any recipes yet...
        </div>
    }
</div>