@using Microsoft.AspNetCore.Components.Forms
<div class="recipetableitem">
    <div class="recipetableitem-image">
        <img class="recipetableitem-image-content" src="@(Recipe.Image == null || Recipe.Image.Length == 0 ? "/images/apple.png" : "")" />
    </div>
    <div class="recipetableitem-text">
        <div class="row">
            <div class="recipetableitem-text-name">
                @Recipe.Name
            </div>
        </div>
        <div class="row">
            <div class="recipetableitem-text-coursetype">
                @Recipe.CourseType
            </div>
        </div>
    </div>
    <div class="recipetableitem-button">
        <div class="recipetableitem-button-menu oi oi-magnifying-glass">
            <div class="recipetableitem-button-menu-content">
                <div>
                    Details
                </div>
                <div>
                    Share
                </div>
                <div @onclick="DeleteRecipe">
                    Delete
                </div>
            </div>
        </div>
    </div>
</div>
