@inherits LayoutComponentBase

<div class="page">
    <div id="page-body">
        <main id="page-body-main">
            @Body
        </main>
    </div>
    <div id="page-nav">
        <NavigationView />
    </div>
</div>
