@using RecipeGenerator.RazorPages
@using RecipeGenerator.RazorPages.Components

<nav class="bottom-menu">
 <NavComponent NavPath="" OiIcon="oi-home" OiTitle="Home" />
 <NavComponent NavPath="history" OiIcon="oi-script" OiTitle="History" />
 <NavComponent NavPath="start" OiIcon="oi-media-play" OiTitle="Start" />
 <NavComponent NavPath="settings" OiIcon="oi-cog" OiTitle="Settings" />
 <NavComponent NavPath="about" OiIcon="oi-question-mark" OiTitle="About" />
</nav>

