@inherits LayoutComponentBase

<div class="page">
    @if (ProgressViewModel.InProgress)
    {
        <div class="accordion-header">@StringLocalizer["InitializingIngredients"]</div>
    }
    else
    {
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
</div>
