@using RecipeGenerator.RazorPages.Views.Navigation
@using RecipeGenerator.RazorPages.ViewModels.Home
@using RecipeGenerator.RazorPages.Views.Home.Buttons
@using RecipeGenerator.RazorPages.Views.Home.Tables

<div class="home-view">
    <div class="home-view-table">
        <div class="home-view-table-row">
            <div class="home-view-table-column">
                <HomeButton NavPath="start" OiIcon="oi-media-play" OiTitle="Start" OiDescription="Start"/>
            </div>
            <div class="home-view-table-column">
                <HomeButton NavPath="explore" OiIcon="oi-script" OiTitle="Explore" OiDescription="Explore"/>
            </div>
        </div>
        <div class="home-view-table-row">
            <div class="home-view-table-column">
                <DisplayView HomeVM="@HomeVM" />
            </div>
        </div>
    </div>
</div>