@using RecipeGenerator.RazorPages.Views.Navigation
@using RecipeGenerator.RazorPages.ViewModels.Home
@using RecipeGenerator.RazorPages.Views.Home.Buttons
@using RecipeGenerator.RazorPages.Views.Home.Tables

<div class="home-view">
    <div class="home-view-buttons">
        <HomeButton NavPath="add" OiIcon="oi-plus" OiTitle="Add" OiDescription="Add" />
        <HomeButton NavPath="explore" OiIcon="oi-script" OiTitle="Explore" OiDescription="Explore" />
    </div>
    <div class="home-view-recipe-table">
        <DisplayView HomeVM="@HomeVM" />
    </div>
</div>