.home-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-view-buttons {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 35%;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.home-view-recipe-table {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    height: -webkit-fill-available;
    justify-content: center;
    margin: 1rem;
}


