<div class="btn btn-home-nav">
    <NavLink href="@NavPath" Match="NavLinkMatch.All">
        <div class="home-button-container">
            <div class="home-button-container-icon oi @OiIcon" title="@OiTitle" />
        </div>
    </NavLink>
</div>
