<div class="btn btn-home-nav" title="@OiTitle">
    <NavLink href="@NavPath" Match="NavLinkMatch.All">
        <div class="home-button-container">
            <div class="home-button-container-icon oi @OiIcon" />
        </div>
    </NavLink>
</div>
