@using RecipeGenerator.RazorPages

<nav class="bottom-menu">
 <NavLink class="bottom-menu-item" href="" Match="NavLinkMatch.All">
  <div class="oi oi-home" title="Home" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="history" Match="NavLinkMatch.All">
  <div class="oi oi-script" title="History" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="start">
  <div class="oi oi-media-play" title="Start" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="settings">
  <div class="oi oi-cog" title="Settings" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="about">
  <div class="oi oi-question-mark" title="About" />
 </NavLink>
</nav>

@code {
 private bool collapseNavMenu = true;

 private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

 private void ToggleNavMenu()
 {
  collapseNavMenu = !collapseNavMenu;
 }
}

