<nav class="bottom-menu">
 <NavLink class="bottom-menu-item" href="" Match="NavLinkMatch.All">
     <div class="oi oi-home" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="counter">
    <div class="oi oi-plus" />
 </NavLink>
 <NavLink class="bottom-menu-item" href="fetchdata">
    <div class="oi oi-list" />
 </NavLink>
</nav>

@code {
 private bool collapseNavMenu = true;

 private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

 private void ToggleNavMenu()
 {
  collapseNavMenu = !collapseNavMenu;
 }
}

