<nav id="navigation-view">
    <NavigationButton NavPath="" OiIcon="oi-home" OiTitle="Home" />
    <NavigationButton NavPath="explore" OiIcon="oi-script" OiTitle="Explore" />
    <NavigationButton NavPath="start" OiIcon="oi-media-play" OiTitle="Start" />
    <NavigationButton NavPath="settings" OiIcon="oi-cog" OiTitle="Settings" />
    <NavigationButton NavPath="about" OiIcon="oi-question-mark" OiTitle="About" />
</nav>
