/*@import url('../../wwwroot/css//RecipeGenerator.RazorPages.css');*/

#navigation-view {
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
