<nav id="navigation-view">
    <NavigationButton NavPath="" OiIcon="oi-home" OiTitle="Home" />
    <NavigationButton NavPath="explore" OiIcon="oi-script" OiTitle="Explore" />
    <NavigationButton NavPath="add" OiIcon="oi-plus" OiTitle="Add" />
    <NavigationButton NavPath="settings" OiIcon="oi-cog" OiTitle="Settings" />
    <NavigationButton NavPath="about" OiIcon="oi-info" OiTitle="About" />
</nav>
