<NavLink class="nav-button" href="@NavPath" Match="NavLinkMatch.All">
    <div class="nav-button-container">
        <div class="oi @OiIcon nav-button-icon" title="@OiTitle" />
        <div class="nav-button-description">@OiDescription</div>
    </div>
</NavLink>
