<fieldset>
    <legend>Verify Your Recipe</legend>
    <div style="display: flex; flex-direction: row">
        <input type="submit" class="btn btn-primary" value="Save" />
        <div class="btn btn-cancel" @onclick="StartVM.ResetRecipeCommand.ExecuteAsync">Cancel</div>
    </div>
</fieldset>
