<div class="start-page">
    <EditForm Model="@StartVM.Recipe" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <CascadingValue Value="StartVM">
            <TitleComponent/>
            <CourseTypeComponent/>
            <IngredientsComponent/>
            <StepsComponent/>
            <SaveComponent />
        </CascadingValue>
    </EditForm>
</div>