.start-page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    width: -webkit-fill-available;
    height: 100%;
}