<fieldset>
    <legend>Steps</legend>
    <div>
        <label for="Steps">Add steps</label>
        <div style="display: flex; flex-direction: column">
            <div style="display: flex; flex-direction: column">
                <div class="btn btn-primary" @onclick="StartVM.AddStepCommand.Execute">Add step</div>
                @if (StartVM.StepList?.Any() == true)
                {
                    foreach (var step in StartVM.StepList)
                    {
                        <StepComponent SelectedIngredients="@StartVM.IngredientList" Step="@step"/>
                            
                    }
                }
            </div>
        </div>
    </div>
</fieldset>