<div class="start-page-title">
 <label for="title-input-text">Choose title</label>
    <InputText id="title-input-text" DisplayName="Title" @bind-Value="StartVM.Recipe.Name" class="form-text"/>
</div>
