<fieldset>
    <legend>Add Steps</legend>
    <div>
        <div style="display: flex; flex-direction: column">
            <div style="display: flex; flex-direction: column">
                <div class="btn btn-primary" @onclick="AddVM.AddStepCommand.Execute">Add step</div>
                @if (AddVM.StepList?.Any() == true)
                {
                    foreach (var step in AddVM.StepList)
                    {
                        <StepView SelectedIngredients="@AddVM.IngredientList" Step="@step" />
                    }
                }
            </div>
        </div>
    </div>
</fieldset>