<table>
    <tr>
        <td>
            <a href="/list-recipes">@StringLocalizer["Recipes"]</a>
        </td>
        <td>
            <a href="/list-ingredients">@StringLocalizer["Ingredients"]</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/settings">@StringLocalizer["Settings"]</a>
        </td>
        <td>
            <a href="/about">@StringLocalizer["About"]</a>
        </td>
    </tr>
</table>