@using RecipeGenerator.RazorPages.Components.About

@page "/about"

<div class="about-page">
    @foreach (var ingredientGroup in aboutVM.Ingredients)
    {
        <IngredientsGroup IngredientsGroupVM="@ingredientGroup"/>
    }
</div>
