@page "/about"

@foreach (var ingredientGroup in aboutVM.Ingredients.OrderBy(c => c.Key))
{
    <h1>@ingredientGroup.Key.ToString()</h1>
    @foreach (var ingredient in ingredientGroup.Value)
    {
        <div>
            <a href="@ingredient.Link">@ingredient.Name</a>
        </div>
    }
}
