@page "/start"
<div>
    <EditForm Model="@startVM.Recipe" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <div>Title:</div>
        <InputText @bind-Value="@startVM.Recipe.Name"/>
        <input type="submit" class="btn btn-primary" value="Add" />
    </EditForm>
</div>