.explore-page {
    height: 90%;
}

.explore-page-item-header-button {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,4,4,1) 50%, rgba(0,0,0,1) 100%);
    font-size: 1.5rem;
    color: azure;
    position: relative;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 1rem;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    justify-content: center;
}

    .explore-page-item-header-button:hover {
        cursor: pointer;
    }

.explore-page-item-header-button-display-name {
    display: flex;
}

.explore-page-item-list {
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0rem 1rem 0rem 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}