@using RecipeGenerator.RazorPages.Views.Explore.Ingredients
<div class="explore-page">
    @foreach (var ingredientGroup in ExploreVM.Ingredients)
    {
        <IngredientGroupView IngredientsGroupVM="@ingredientGroup" />
    }
</div>
