<div class="explore-page-item-header-button" @onclick="ToggleVisibility">@IngredientsGroupVM.DisplayName</div>

<div class="explore-page-item-header-button-display-name" style="display: @(IngredientsGroupVM.IsExpanded ? "block" : "none")">
    <div class="explore-page-item-list">
        @foreach (var ingredient in IngredientsGroupVM.Ingredients)
        {
            <IngredientView Ingredient="@ingredient"/> 
        }
    </div>
</div>