@page "/"
<div class="home-page">
    <div class="home-page-start-button">
        Start
    </div>
    <div class="home-page-history-button">
        History
    </div>
    <div class="home-page-settings-button">
        Settings
    </div>
    <div class="home-page-about-button">
        About
    </div>
</div>