html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.height100 {
    height: 100%;
}

.height85 {
    height: 85%;
}


.main-page {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 50%, rgba(255,255,255,1) 100%);
    height: 100%;
    width: 100%;
}

.main-display {
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;
}

#loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.bottom-menu {
    position: relative;
    bottom: 0px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(228,4,4,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.bottom-menu-item {
    margin: 0rem 0.25rem 0rem 0.25rem;
    padding: 2rem;
    color: azure;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    width: 3rem;
    height: inherit;
    align-items: center;
}

    .bottom-menu-item:hover {
        color: azure;
        background-color: gold;
        border-radius: 1rem;
    }


.bottom-menu-item-big {
    margin: 0rem 0.5rem 0px 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    color: azure;
    font-size: 8rem;
    color: darkred;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    top: 2rem;
}

    .bottom-menu-item-big:hover {
        color: azure;
        background-color: gold;
        border-radius: 1rem;
    }

.home-page {
    height: 100%;
    width: 100%;
}

.home-page-button {
    position: fixed;
    display: flex;
    margin: 0rem;
    padding: 0.5rem;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.home-page-button-start {
    top: 10%;
    left: 0%;
}

.home-page-button-explore {
    top: 10%;
    right: 0%;
}

.home-page-list-history {
    position: fixed;
    display: flex;
    top: 35%;
    width: 100%;
    justify-content: center;
    align-content: center;
    vertical-align: top;
}

.nav-button {
    display: flex;
    width: 9rem;
    height: 9rem;
    box-shadow: 10px 10px 5px rgba(228,4,4,1);
    border-radius: 0.5rem;
    border: 1px solid black;
    color: darkred;
    text-decoration: none;
    align-content: center;
    font-size: 2rem;
}

    .nav-button:hover {
        color: azure;
        background-color: gold;
        box-shadow: 10px 10px 5px rgba(181, 148, 16,1);
    }

.nav-button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-button-icon {
    display: flex;
    font-size: 3.5rem;
    top: 10%;
    margin: 0.1rem 0.5rem 1rem 0.5rem;
}

.nav-button-description {
    position: relative;
    display: flex;
    margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}

.explore-page {
    height: 90%;
}

.explore-page-item-header-button {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(150,4,4,1) 50%, rgba(0,0,0,1) 100%);
    font-size: 1.5rem;
    color: azure;
    position: relative;
    display: flex;
    padding: 0.5rem 2rem 0.5rem 1rem;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 2rem;
    justify-content: center;
}

    .explore-page-item-header-button:hover {
        cursor: pointer;
    }

.explore-page-item-header-button-display-name {
    display: flex;
}

.explore-page-item-list {
    display: flex;
    flex-flow: column;
    position: relative;
    margin: 0rem 1rem 0rem 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: baseline;
}

.explore-page-item-list-item {
    border-radius: 0.5rem;
    box-shadow: 2px 2px 5px rgba(228,4,4,1);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(228,4,4,0.5);
    margin: 0.1rem 0rem 0.1rem 0rem;
    padding: 0.1rem;
    flex-direction: row;
    display: flex;
}

.explore-page-item-list-item-image {

}

.explore-page-item-list-item-column {

}

.explore-page-item-list-item-header {

}

.explore-page-item-list-item-description {

}

.explore-page-item-list-item-link {

}