:root {
    --primary-color: #EFB495;
    --primary-color-shaded: #EF9595;
    --secondary-color: #EFD595;
    --secondary-color-shaded: #EBEF95;
    --secondary-color-lightened: #fcfed1;
    --font-color: #7C4545;
    color: var(--font-color);
    background-color: var(--secondary-color-lightened);
}

form {
    width: 100%;
}

fieldset {
    border: 2px solid darkgray;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: lightgray;
}

legend {
    font-size: 1.5rem;
    font-weight: bold;
}

button {
    align-self: flex-start;
}

.btn {
    background-color: var(--primary-color);
    margin: 0px;
    padding: 0px;
    border-radius: 1rem;
    color: var(--font-color);
}

    .btn:hover, .btn.active {
        background-color: var(--primary-color-shaded);
        color: var(--secondary-color);
    }

.btn.btn-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 3rem;
    height: -webkit-fill-available;
    aspect-ratio: 1/1;
    margin: 2px;
    padding: 2px;
}

/*button {
    align-self: flex-start;
    color: azure;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    width: 3rem;
    height: inherit;
    align-items: center;
}

    button:hover {
        color: azure;
        background-color: gold;
        border-radius: 1rem;
    }*/

/*.main-page {
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 50%, rgba(255,255,255,1) 100%);
    height: 100%;
    width: 100%;
}

.main-display {
    overflow-x: hidden;
    overflow-y: auto;
    height: 90%;
}

#loading-gif {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}

.bottom-menu {
    position: relative;
    bottom: 0px;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(228,4,4,1) 50%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.bottom-menu-item {
    margin: 0rem 0.25rem 0rem 0.25rem;
    padding: 2rem;
    color: azure;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    width: 3rem;
    height: inherit;
    align-items: center;
}

    .bottom-menu-item:hover {
        color: azure;
        background-color: gold;
        border-radius: 1rem;
    }


.bottom-menu-item-big {
    margin: 0rem 0.5rem 0px 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
    color: azure;
    font-size: 8rem;
    color: darkred;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    width: 10rem;
    height: 10rem;
    top: 2rem;
}

    .bottom-menu-item-big:hover {
        color: azure;
        background-color: gold;
        border-radius: 1rem;
    }

.home-page {
    height: 100%;
    width: 100%;
}

.home-page-button {
    position: fixed;
    display: flex;
    margin: 0rem;
    padding: 0.5rem;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

.home-page-button-start {
    top: 10%;
    left: 0%;
}

.home-page-button-explore {
    top: 10%;
    right: 0%;
}

.home-page-list-history {
    position: fixed;
    display: flex;
    top: 35%;
    width: 100%;
    justify-content: center;
    align-content: center;
    vertical-align: top;
}

.nav-button {
    display: flex;
    width: 9rem;
    height: 9rem;
    box-shadow: 10px 10px 5px rgba(228,4,4,1);
    border-radius: 0.5rem;
    border: 1px solid black;
    color: darkred;
    text-decoration: none;
    align-content: center;
    font-size: 2rem;
}

    .nav-button:hover {
        color: azure;
        background-color: gold;
        box-shadow: 10px 10px 5px rgba(181, 148, 16,1);
    }

.nav-button-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.nav-button-icon {
    display: flex;
    font-size: 3.5rem;
    top: 10%;
    margin: 0.1rem 0.5rem 1rem 0.5rem;
}

.nav-button-description {
    position: relative;
    display: flex;
    margin: 0.1rem 0.5rem 0.5rem 0.5rem;
}*/