<fieldset>
    <legend>Name Your Recipe</legend>
    <div class="start-page-title">

        <div class="start-page-title-input">
            <label for="title-input-text">Title</label>
            <InputText id="title-input-text" DisplayName="Title" @bind-Value="AddVM.RecipeDTO.Name" class="form-text" />
        </div>
    </div>
</fieldset>
