@using RecipeGenerator.RazorPages.Views.Add.CourseType
@using RecipeGenerator.RazorPages.Views.Add.Ingredients
@using RecipeGenerator.RazorPages.Views.Add.Save
@using RecipeGenerator.RazorPages.Views.Add.Steps
@using RecipeGenerator.RazorPages.Views.Add.Title
<div class="start-page">
    <EditForm Model="@AddVM.RecipeDTO" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <CascadingValue Value="AddVM">
            <TitleView/>
            <CourseTypeView/>
            <IngredientListView/>
            <StepListView/>
            <SaveView />
        </CascadingValue>
    </EditForm>
</div>