@using RecipeGenerator.RazorPages.Views.Start.CourseType
@using RecipeGenerator.RazorPages.Views.Start.Title
@using RecipeGenerator.RazorPages.Views.Start.Ingredients
@using RecipeGenerator.RazorPages.Views.Start.Steps
@using RecipeGenerator.RazorPages.Views.Start.Save
<div class="start-page">
    <EditForm Model="@StartVM.Recipe" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <ValidationSummary/>

        <CascadingValue Value="StartVM">
            <TitleView/>
            <CourseTypeView/>
            <IngredientListView/>
            <StepListView/>
            <SaveView />
        </CascadingValue>
    </EditForm>
</div>